<h2><%= @list.name %></h2>
<%= "Vous n'avez pas sauvegarder de films" if @list.movies.empty? %>
<%= link_to new_list_bookmarks_path(list_id: @list), data: { turbo: true, turbo_frame: 'modal' } do %>
  Add a movie
<% end %>
<%= link_to "delete this list", @list, method: :delete, data: { confirm: 'Are you sure to delete this list ?' } %>
<% @list.movies.each do |movie| %>
  <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
  <p><%= movie.title %> / <%= movie.rating %></p>
  <p><%= movie.overview %></p>
<% end %>
