<h1>Add a Bookmark</h1>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :title, label: "Title", placeholder: "Enter bookmark title" %>
  <%= f.input :url, label: "URL", placeholder: "Enter bookmark URL" %>
  <%= f.input :description, as: :text, label: "Description", placeholder: "Enter bookmark description" %>

  <%= f.submit %>
<% end %>
